.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.visible_on_big {
  display: block;
}

.visible_on_small {
  display: none;
}

@media only screen and (max-width: 600px) {
  .visible_on_big {
    display: none;
  }

  .visible_on_small {
    display: block;
  }

  .align_drawer_menu {
    display: flex;
    align-items: flex-start !important;
    justify-content: flex-start !important;
    padding-left: 24px !important;
  }
  .align_drawer_menu a {
    margin-bottom: 8px;
  }
}
