.wrapper {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  padding-top: 75px;
}

.wrapper_image {
  background-image: url("./assets/dairy2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper_image_grey {
  background-image: url("./assets/dairy1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

label,
p {
  color: #fff;
  text-align: center;
}

.sub_wrapper {
  padding: 1rem 4rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 4vh;
}

.card {
  padding: 4rem;
  min-height: 54vh;
}

.full {
  height: 100%;
  width: 100%;
}

.side_padding {
  padding-right: 12vh;
  padding-left: 12vh;
}

@media only screen and (max-width: 850px) {
  .padding {
    padding: 3vh;
  }
  .side_padding {
    padding-right: 6vh;
    padding-left: 6vh;
  }
}

@media only screen and (max-width: 600px) {
  .padding {
    padding: 2vh;
  }

  .side_padding {
    padding-right: 4vh;
    padding-left: 4vh;
  }

  .card {
    padding: 2rem;
    min-height: auto;
  }
  .sub_wrapper {
    padding: 1rem 2rem;
  }
  p {
    font-size: 0.8rem;
  }
  label {
    font-size: 2.5vw;
  }
}
