.wrapper {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  padding-top: 75px;
}

.wrapper_image {
  background: url("./assets/dairy2.jpg") center;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
  color: #fff;
  text-align: center;
}

.sub_wrapper {
  padding: 1rem 4rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  height: 100%;
  width: 100%;
}

.divide {
  height: 100%;
  width: 100%;
}

.padding {
  padding: 4vh;
}

.card {
  padding: 4rem;
  height: 50vh;
}
.image_padding {
  padding: 4vh;
}

@media only screen and (max-width: 600px) {
  .divide {
    height: 50%;
  }
  .padding {
    padding: 2vh;
  }

  .card {
    padding: 2rem;
    height: auto;
  }
  .sub_wrapper {
    padding: 1rem 2rem;
  }
  h1 {
    font-size: 1rem;
    padding-bottom: 3vh;
  }
  p {
    font-size: 0.6rem;
  }
  label {
    font-size: 0.8rem;
  }
  .image_padding {
    padding: 12vh 4vh;
  }
}
